.header h1 {
    background-color:blue;  
    font-size: 50px;
    font-weight:bold
    text-align:Left;
    padding:20px;
    color:whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    }

.header h2 {
    background-color:whitesmoke;  
    font-size: 60px;
    font-weight:bold
    text-align:Left;
    padding:30px;
    color:blue;
    font-family: 'Times New Roman', Times, serif;    
    }

.header h3 {
    background-color:whitesmoke;  
    font-size: 45px;
    font-weight:bold
    text-align:Left;
    padding:10px;
    color:blue;
    font-family: 'Times New Roman', Times, serif;    
    }
    


.paragraph1 {
    font-family: 'Times New Roman', Times, serif;   
    font-size: 20px;
    padding:30px;         
    }

.image1 {
    width: 350px;
    height:auto;
    
    padding:5px; 
    float:left;        
    }

.image2 {
    width: auto;
    height:auto;
    outline-style: none;
    }

.figure {
    width: auto;
    height:auto;
    outline-style: none;
    }
    

